<div class="page">
  <p>Da questa pagina è possibile consultare le prenotazioni portate avanti presso lo stabilimento, e modificarne
    eventuali dettagli. Le prenotazioni vengono mostrate in ordine cronologico.</p>

  <div *ngIf="!bookings || bookings.length > 0; else loadingScreen">
    <ul class="bookings-container">
      <li *ngFor="let booking of bookings">
        <app-booking-card
          [routerLink]="['/booking', booking.id]"
          [booking]="booking">
        </app-booking-card>
      </li>
    </ul>
  </div>

  <ng-template #loadingScreen>
    <!-- Content to render when data is loading -->
    <app-loading-screen></app-loading-screen>
  </ng-template>

</div>

<!-- Header and fab go last, to make them appear over content -->
<app-customer-main-appbar></app-customer-main-appbar>
<app-fab title="Prenota" icon-name="calendar-plus" route="/new-booking"></app-fab>
