@import "~src/styles/utils";

.uploader-container {
  box-sizing: border-box;
  border-radius: 4px;
  border-color: $dividerColor;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition-duration: 100ms;
  padding: ($marginSmartphone / 2) + 1;

  &:hover {
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    padding: ($marginSmartphone / 2);
  }

  &:focus-within {
    border-color: $primaryColor;
    border-style: solid;
    border-width: 2px;
    padding: ($marginSmartphone / 2);
  }

  .file-input {
    display: none;
  }

  .load-button {
    flex-shrink: 0;
  }

  .image-name {
    flex-grow: 1;
    @include responsiveProp(margin-left, $defaultMargin);
    @include singleLineEllispis;
  }
}


