@import "~src/styles/utils";

.user-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include responsiveProp(padding-top, $defaultMargin);
  @include responsiveProp(padding-bottom, $defaultMargin);
}
