<div class="page">
  <p>
    Da questa pagina è possibile consultare le prenotazioni portate avanti presso lo stabilimento, e modificarne
    eventuali dettagli. Le prenotazioni vengono mostrate in ordine cronologico.
  </p>

  <div *ngIf="bookings; else loadingScreen">
    <ul class="bookings-container">
      <li *ngFor="let booking of bookings">
        <app-booking-card
          [routerLink]="['/bookings', booking.id, { title: booking.getTitle() }]"
          [booking]="booking"
          [isLastCard]="bookings.indexOf(booking) >= bookings.length - 1">
        </app-booking-card>
      </li>
    </ul>
  </div>

  <mat-paginator [length]="totalItems" class="paginator"
                 [pageSize]="10" (page)="changePage($event)"
                 [pageSizeOptions]="[10]">
  </mat-paginator>

  <ng-template #loadingScreen>
    <!-- Content to render when data is loading -->
    <app-loading-screen [smallHeight]="true"></app-loading-screen>
  </ng-template>
</div>

<!-- Header and fab go last, to make them appear over content -->
<app-customer-main-appbar></app-customer-main-appbar>
<app-fab title="Prenota" iconName="new-booking" route="/new-booking"
         currentPageName="Prenotazioni" currentPageRoute="/bookings">
</app-fab>
