@import "~src/styles/utils";

.options-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  @include responsiveProp(padding-top, $defaultMargin);


  .icon {
    @include responsiveProp(margin-right, $defaultMargin);
    color: $secondaryControlColor;
    @include responsiveProp(margin-right, $defaultMargin);
    margin-top: - #{$marginSmartphone};

    @include forDesktopOnly {
      margin-top: - #{$marginDesktop};
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;

    p.description {
      @include responsiveProp(margin-bottom, $defaultMargin);
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: #cccccc;
    }
  }
}
