@import "~src/styles/utils";

.status-container {
  display: flex;
  flex-direction: column;
  margin: -2px 0;

  .status-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    padding: 2px 0;

    .status-icon {
      @include responsiveProp(margin-right, $defaultMargin);
      flex-shrink: 0;
    }

    .status-text {
      min-width: 0;
      flex-shrink: 1;
      flex-grow: 1;
    }
  }
}
