<div class="salable-card" (click)="forceIncrementItem()"
     [ngStyle]="isLastCard == true ? {'margin-bottom': 0} : {}">

  <div class="main-line">
    <div class="image"
         [ngStyle]="{'background-image': 'url(' + imageUrl }">
    </div>

    <div class="lines">
      <h2 class="title">{{ title }}</h2>
      <p class="description">{{ description }}</p>
    </div>
  </div>

  <div class="bottom-line">
    <div class="chips-sector">
      <div class="price-chip"> {{ price | currency: 'EUR' }} </div>
      <mat-icon svgIcon="sale" class="sale" color="primary"
                *ngIf="isOnSale"></mat-icon>
    </div>
    <app-quantity-selector #qtSelector
      [maxQuantity]="getMaxQuantity()"
      (incrementQuantity)="incrementItem()"
      (decrementQuantity)="decrementItem()">
    </app-quantity-selector>
  </div>

</div>
