.current-season-section {
  .daily-chart {
    width: 100%;
    box-sizing: border-box;
    height: 140px;
  }

  .season-chart {
    width: 100%;
    box-sizing: border-box;
    height: 280px;
  }
}

