<p>Seleziona qui l’ombrellone (o gli ombrelloni) che intendi prenotare, e gli eventuali servizi aggiuntivi.</p>


<ng-template #loadingScreen>
  <app-loading-screen [smallHeight]="true"></app-loading-screen>
</ng-template>

<div class="customization-container" *ngIf="availableRankings && availableServices; else loadingScreen">
  <div class="salables-container">
    <h1>Ombrelloni</h1>
    <ul>
      <li *ngFor="let rank of availableRankings">
        <app-salable-picker [title]="rank.name" [description]="rank.description" [price]="rank.dailyPrice"
                            [isOnSale]="rank.onSaleDuringPeriod(booking.dateFrom, booking.dateTo)"
                            [limitedItems]="getUmbrellasByRank(rank)" [imageUrl]="rank.imageUrl"
                            [isLastCard]="availableRankings.indexOf(rank) >= availableRankings.length - 1"
                            (insertItem)="insertUmbrella($event)" (removeItem)="removeUmbrella($event)">
        </app-salable-picker>
      </li>
    </ul>
  </div>

  <div class="salables-container">
    <h1>Servizi aggiuntivi</h1>
    <ul>
      <li *ngFor="let service of availableServices">
        <app-salable-picker [title]="service.name" [description]="service.description" [price]="service.dailyPrice"
                            [unlimitedItem]="service.generateBookableClone()" [imageUrl]="service.imageUrl"
                            [isLastCard]="availableServices.indexOf(service) >= availableServices.length - 1"
                            (insertItem)="insertService($event)" (removeItem)="removeService($event)">
        </app-salable-picker>
      </li>
    </ul>
  </div>
</div>

<div class="stepper-buttons">
  <button class="back-button" mat-raised-button color="accent" matStepperPrevious>
    Indietro
  </button>  <button class="next-button" mat-raised-button color="primary" [disabled]="!validator" matStepperNext>
    Vai al checkout
  </button>
</div>
