<div class="page">
  <!-- Main card -->
  <div class="main-card-container">
    <div class="image-container"
         [ngStyle]="{'background-image': 'url(' + mainCard.image }">
    </div>
    <div class="white-filter-container"></div>
    <div class="title-container">
      <mat-icon>beach_access</mat-icon>
      <h1 class="super-title"> {{mainCard.title}} </h1>
      <div> {{mainCard.description}} </div>
    </div>
  </div>

  <!-- Other cards -->
  <!-- todo show other cards w. ngFor -->
  <ul>
    <li *ngFor="let homeCard of homeCards">
      <div [ngClass]="homeCard._id % 2 == 0 ? 'even-card-wide-container' : 'odd-card-wide-container'">
        <div class="home-card">
          <app-img-landscape src="{{ homeCard.image }}"></app-img-landscape>
          <h1>{{homeCard.title}}</h1>
          <div>{{ homeCard.description }}</div>
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- The header goes last, to make it appear over content -->
<app-header selectedPage="home"></app-header>
