@import "~src/styles/utils";

.news-card {
  box-sizing: border-box;
  box-shadow: $defaultShadow;
  background: $backgroundColor;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include responsiveProp(padding, $defaultMargin);
  @include responsiveProp(margin-bottom, $defaultMargin);
  @include responsiveProp(border-radius, $defaultMargin);

  .image {
    @include responsiveProp(width, $cardImageSize);
    @include responsiveProp(height, $cardImageSize);
    @include responsiveProp(margin-right, $defaultMargin);
    @include responsiveProp(border-radius, $halfMargin);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    flex-shrink: 0;
  }

  .lines {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 0;

    .title-line {
      display: flex;
      flex-direction: row;
      @include responsiveProp(margin-bottom, $quarterMargin);
      justify-content: space-between;
      box-sizing: border-box;

      h2.title {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include responsiveProp(margin-right, $defaultMargin);

      }

      .date {
        margin: 0;
        flex-shrink: 0;
      }
    }

    p.description {
      margin-bottom: 0;
      width: 100%;
      @include multiLineEllipsis($lineCount: 3);
    }
  }
}


.last-card {
  margin-bottom: 0;
}
