<footer>
  <div class="credits-container">
    <div class="credits">ASW Project, &copy; {{ today | date: 'yyyy' }}.</div>
    <div class="credits">
      <a href="https://github.com/maldins46">Riccardo Maldini</a>,
      <a href="https://github.com/ThomasAngeliniUnibo">Thomas Angelini</a>,
      <a href="https://github.com/francescogorini">Francesco Gorini</a>
    </div>
  </div>

  <div class="logo">
    <a routerLink="/" class="logo">
      <img src="/assets/logo.png" alt="BagniX Logo"/>
      <h1 class="title">Bagni X</h1>
    </a>
  </div>

</footer>
