@import "~src/styles/utils/utils";

footer {
  background: $backgroundColor;
  width: 100%;
  box-shadow: $defaultShadow;
  box-sizing: border-box;
  @include responsiveProp(height, $footerHeight);
  @include responsiveProp(padding-left, $defaultMargin);
  padding-right: 180px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;

  @include forDesktopOnly {
    padding-right: 200px;
  }

  .credits {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    a {
      text-decoration: none;
      @include subheadFont;
    }
  }
}
