@import "../../../../styles/utils/utils";

footer {
  background: $backgroundColor;
  text-align: center;
  height: $footerHeight;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $defaultShadow;
  box-sizing: border-box;
  @include responsiveProp(padding, $defaultMargin);

  .attribution {

  }
}
