<div class="page">
  <div *ngIf="downloadedNews; else loadingScreen">
    <div class="image">
      <app-img-landscape [src]="downloadedNews.image"></app-img-landscape>
    </div>
    <h1 class="title">{{downloadedNews.title}}</h1>
    <p class="date">{{downloadedNews.date | newsDateExtended}}</p>
    <div class="divider"></div>
    <p class="article">{{downloadedNews.description}}</p>
  </div>

  <ng-template #loadingScreen>
    <!-- Content to render when data is loading -->
    <app-loading-screen></app-loading-screen>
  </ng-template>
</div>

<!-- Header and fab go last, to make them appear over content -->
<app-nested-appbar title="{{getTitleIfAvailable()}}" back-route="/news" back-page-name="Feed" [actions]="[shareAction]"></app-nested-appbar>
