<div class="page">
  <p>Da questa pagina è possibile consultare il feed, ovvero la sezione dedicata alle news dello stabilimento. Rimani
    sempre aggiornato sulle ultime novità!</p>

  <div *ngIf="newsFeed; else loadingScreen">
    <ul class="news-feed-container">
      <li *ngFor="let news of newsFeed">
        <app-news-card
          [routerLink]="['/news', news._id, {title: news.title}]"
          [news]="news"
          [is-last-card]="newsFeed.indexOf(news) >= newsFeed.length - 1">
        </app-news-card>
      </li>
    </ul>
  </div>

  <ng-template #loadingScreen>
    <!-- Content to render when data is loading -->
    <app-loading-screen [small-height]="true"></app-loading-screen>
  </ng-template>
</div>

<!-- Header and fab go last, to make them appear over content -->
<app-customer-main-appbar></app-customer-main-appbar>
<app-fab title="Prenota" icon-name="calendar-plus" route="/new-booking"></app-fab>
