@import "~src/styles/utils";

p {
  @include responsiveProp(margin-bottom, $defaultMargin);
}

.salable-category-container {
  @include responsiveProp(margin-bottom, $defaultMargin);
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include responsiveProp(margin-bottom, $quarterMargin);

  .next-button {
    @include button;
    @include responsiveProp(width, $widerTextboxWidth);
  }

  .back-button {
    @include button;
    @include responsiveProp(width, $buttonHeight);
    @include responsiveProp(margin-right, $defaultMargin);
    background-color: $backgroundColor;
  }
}
