@import "~src/styles/utils";

.page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include forDesktopOnly {
    width: 360px;
  }


  .description-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include responsiveProp(margin-bottom, $defaultMargin);


    .logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      img {
        width: 80px;
        height: 80px;
      }

      .title {
        color: $primaryColor;
      }
    }

    .vertical-divider {
      @include responsiveProp(margin-left, $defaultMargin);
      @include responsiveProp(margin-right, $defaultMargin);
      width: 1px;
      background-color: #cccccc;
      height: 100px;
    }

    .description {
      text-align: left;
    }
  }

  .login-form {
    .inputs-container {
      .input-field {
        width: 100%;
      }
    }

    @mixin button {
      padding: 0 $marginDesktop;
      border-radius: 50px;
      @include responsiveProp(height, $fabHeight);
      @include titleFont;
      color: $backgroundColor;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include responsiveProp(margin-bottom, $defaultMargin);

      @include forDesktopOnly {
        width: 360px;
      }
    }

    .login-button {
      @include button;
    }

    .register-button {
      @include button;
      color: $secondaryControlColor;
    }
  }

}
