@import "~src/styles/utils";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    @include responsiveProp(margin-bottom, $defaultMargin);
  }

  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputs-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @include forDesktopOnly {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .input-field {
        @include responsiveProp(padding-right, $halfMargin);
        @include responsiveProp(padding-left, $halfMargin);
        width: 100%;
        @include forDesktopOnly {
          width: 264px;
        }
      }
    }

    .warning-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @include responsiveProp(margin-bottom, $defaultMargin);
      text-align: left;

      .warning-icon {
        @include responsiveProp(margin-right, $defaultMargin);
      }
    }

    @mixin button {
      padding: 0 $marginDesktop;
      border-radius: 50px;
      @include responsiveProp(height, $fabHeight);
      @include titleFont;
      color: $backgroundColor;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @include responsiveProp(margin-bottom, $defaultMargin);

      @include forDesktopOnly {
        width: 360px;
      }
    }

    .login-button {
      @include button;
    }

    .register-button {
      @include button;
      background-color: $backgroundColor;
      color: $primaryColor;
    }

  }
}
