<div class="page">
  <p *ngIf="returnUrlExternallySet">
    Per utilizzare questa funzione, devi effettuare l'accesso al sito.
  </p>
  <p *ngIf="!returnUrlExternallySet">
    Accedi al sito per usufruire del servizio di prenotazione del nostro stabilimento!
  </p>

  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <div class="inputs-container">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="emailControl" type="email" placeholder="Es. mario.rossi@example.com">
        <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
          Inserisci un indirizzo email valido
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('required')">
          Il campo è <strong>obbligatorio</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="passwordControl" [type]="hidePw ? 'password' : 'text'" placeholder="Es. mySuperPassword!">
        <mat-icon matSuffix (click)="hidePw = !hidePw">{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="passwordControl.hasError('required')">
          Il campo è <strong>obbligatorio</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="warning-container" *ngIf="loading">
      <mat-spinner class="warning-icon" color="primary" [diameter]="24"></mat-spinner>
      <span>Effettuando il login...</span>
    </div>
    <div class="warning-container" *ngIf="error">
      <mat-icon svgIcon="alert-circle-outline" class="warning-icon" color="warn"></mat-icon>
      <span>{{error}}</span>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="loading" class="login-button">
      Login
    </button>
    <a mat-raised-button class="register-button" href="#"
       [routerLink]="['/register']" [queryParams]="{'returnUrl': returnUrl}">
      Registrati
    </a>
  </form>
</div>

<!-- Header goes last, to make them appear over content -->
<app-customer-main-appbar></app-customer-main-appbar>


