<mat-toolbar class="appbar">
  <div class="back-action">
    <a href="#" mat-icon-button [matTooltip]="'Torna a ' + backPageName"
       routerLinkActive="active" color="primary"
       routerLink="{{ backRoute }}" title="{{ backPageName | titlecase }}">
      <mat-icon color="primary" svgIcon="arrow-left"></mat-icon>
    </a>
  </div>
  <h1 class="title">{{ title }}</h1>

  <div *ngIf="rightContent; then rightContent"></div>

  <div *ngFor="let action of actions" class="action" >
    <button mat-icon-button [matTooltip]="action.name"
            [disabled]="action.disabled" (click)="action.execute()">
      <mat-icon *ngIf="action.isMdi; else normalIcon"
                class="menu-icon" svgIcon="{{ action.mdiIcon }}"></mat-icon>
      <ng-template #normalIcon>
        <mat-icon class="menu-icon">{{ action.isMdi }}</mat-icon>
      </ng-template>
    </button>
  </div>
</mat-toolbar>
