<div class="page">
  <form [formGroup]="newsForm" class="news-form" (ngSubmit)="submit()" #formRef="ngForm">
    <mat-form-field appearance="outline" class="input-field-wide">
      <mat-label>Titolo</mat-label>
      <input matInput  formControlName="title" type="text" placeholder="Es. Titolo dell'articolo">
      <mat-error *ngIf="newsForm.get('title').hasError('required')">
        Il campo è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field-wide">
      <mat-label>Articolo</mat-label>
      <textarea matInput rows="12" formControlName="article" type="text" placeholder="Es. Lorem ipsum..."></textarea>
      <mat-error *ngIf="newsForm.get('article').hasError('required')">
        Il campo è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <div class="input-field-wide">
      <app-image-upload formControlName="image"></app-image-upload>
    </div>

    <div class="submit-container">
      <app-http-status-indicator class="submit-checker" [loading]="loading" [error]="error"></app-http-status-indicator>
      <button mat-raised-button class="submit-button" type="submit" color="primary">Salva dati</button>
    </div>
  </form>
</div>

<app-nested-appbar backRoute="/admin/news" backPageName="News"
                   [title]="isNew ? 'Aggiungi news' : 'Modifica news'"
                   [actions]="actions">
</app-nested-appbar>

