@import "~src/styles/utils";

.news-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .input-field {
    padding: 0;
    width: 100%;
  }
}

.warning-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include responsiveProp(margin-top, $defaultMargin);
  text-align: left;

  .warning-icon {
    @include responsiveProp(margin-right, $defaultMargin);
  }
}
