<div class="page">
  <div class="customer-section" *ngIf="customer">
    <h1>Informazioni sul cliente</h1>
    <app-user-info [customer]="customer"></app-user-info>

    <div class="editor" *ngIf="!customer.registered">
      <p>
        Il cliente è stato aggiunto manualmente dall'amministratore, e non detiene quindi un account personale.
        Da questa schermata, puoi modificarne le informazioni di recapito.
      </p>
      <app-unreg-customer-form [customer]="customer" #editor></app-unreg-customer-form>
    </div>
  </div>

  <div class="bookings-section" *ngIf="bookings && bookings.length > 0">
    <h1>Prenotazioni del cliente</h1>
    <ul>
      <li *ngFor="let booking of bookings">
        <app-booking-card
          [routerLink]="['/admin/bookings', booking.id, { title: booking.getTitle(), backRoute: '/admin/contacts/' + customer.id, backRouteName: 'Contatto ' + customerFullName }]"
          [booking]="booking"
          [confirmable]="true" (updateBookings)="updateBookings()"
          [isLastCard]="bookings.indexOf(booking) >= bookings.length - 1">
        </app-booking-card>
      </li>
    </ul>
  </div>
</div>

<app-nested-appbar backPageName="Contatti" backRoute="/admin/contacts"
                   [title]="customerFullName" [actions]="actions"></app-nested-appbar>
