footer {
  background: var(--background);
  text-align: center;
  height: var(--footerHeight);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--defaultShadow);

  .attribution {
    text-decoration: none;
    padding: var(--defaultMargin);
  }
}
