footer {
  background: var(--secondary);
  text-align: center;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .attribution {
    color: var(--primaryControl);
    text-decoration: none;
    padding: 16px;
  }
}

// todo sticky footer
