<mat-toolbar class="appbar">
  <div class="back-action">
    <a href="#" mat-icon-button
       routerLinkActive="active" color="primary"
       routerLink="{{ backRoute }}" title="{{ backPageName | titlecase }}">
      <mat-icon color="primary" svgIcon="arrow-left"></mat-icon>
    </a>
  </div>
  <h1 class="title">{{ title }}</h1>

  <div *ngFor="let action of actions" class="action" (click)="action.execute()">
    <button mat-icon-button title="{{action.name}}">
      <mat-icon *ngIf="action.isMdi; else normalIcon" color="primary"
                class="menu-icon" svgIcon="{{ action.icon }}"></mat-icon>
      <ng-template #normalIcon>
        <mat-icon class="menu-icon" color="primary">{{ action.isMdi }}</mat-icon>
      </ng-template>
    </button>
  </div>
</mat-toolbar>
