<div class="page">
  <!-- Main card -->
  <div *ngIf="homeData.mainCard && homeData.homeCards.length > 0; else loadingScreen">
    <div class="main-card-container">
      <div class="image-container"
           [ngStyle]="{'background-image': 'url(' + homeData.mainCard.image }">
      </div>
      <div class="white-filter-container"></div>
      <div class="title-container">
        <mat-icon class="title-icon" color="primary">beach_access</mat-icon>
        <h1 class="title"> {{ homeData.mainCard.title }} </h1>
        <div> {{ homeData.mainCard.description }} </div>
      </div>
    </div>

    <!-- Other cards -->
    <ul>
      <li *ngFor="let homeCard of homeData.homeCards">
        <div [ngClass]="homeCard._id % 2 == 0 ? 'even-card-wide-container' : 'odd-card-wide-container'">
          <div class="home-card">
            <div class="home-card-image">
              <app-img-landscape src="{{ homeCard.image }}"></app-img-landscape>
            </div>
            <h1>{{homeCard.title}}</h1>
            <div>{{ homeCard.description }}</div>
          </div>
        </div>
      </li>
    </ul>

    <!-- rankUmbrellas cards -->
    <div class="rank-card" [ngClass]="homeData.homeCards.length % 2 == 0 ? 'odd-card-wide-container' : 'even-card-wide-container'">
      <div class="home-card">
        <h1>Cosa puoi prenotare?</h1>
        <ul class="home-card">
          <li *ngFor="let rankUmbrella of homeData.rankUmbrellas">
            <app-salable-card
              [title]="rankUmbrella.name"
              [description]="rankUmbrella.description"
              [imageUrl]="rankUmbrella.image"
              [price]="rankUmbrella.price + ' €/gg'"
              [more-info]="'Dal n°' + rankUmbrella.fromUmbrella + ' al n°' + rankUmbrella.toUmbrella"
              [sale]="rankUmbrella.sales.length > 0"
              [is-last-card]="homeData.rankUmbrellas.indexOf(rankUmbrella) >= homeData.services.length - 1">
            </app-salable-card>
          </li>
        </ul>
      </div>
    </div>

    <!-- services cards -->
    <div class="service-card" [ngClass]="homeData.homeCards.length % 2 == 0 ? 'even-card-wide-container' : 'odd-card-wide-container'">
      <div class="home-card">
        <h1>I nostri servizi</h1>
        <ul >
          <li *ngFor="let service of homeData.services">
            <app-salable-card
              [title]="service.title"
              [description]="service.description"
              [imageUrl]="service.image"
              [price]="service.price == 0 ? 'Incluso' : service.price + ' €/gg'"
              [is-last-card]="homeData.services.indexOf(service) >= homeData.services.length - 1">
            </app-salable-card>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ng-template #loadingScreen>
    <!-- Content to render when data is loading -->
    <app-loading-screen></app-loading-screen>
  </ng-template>

</div>

<!-- Header and fab go last, to make them appear over content -->
<app-customer-main-appbar></app-customer-main-appbar>
<app-fab title="Prenota" icon-name="calendar-plus" route="/new-booking"></app-fab>
