<div class="page">
  <form [formGroup]="homeCardForm" class="home-card-form" (ngSubmit)="modifyHomeCard()" #formRef="ngForm">
    <mat-form-field appearance="outline" class="input-field-wide" >
      <mat-label>Titolo</mat-label>
      <input matInput  formControlName="title" type="text" placeholder="Es. Titolo della card">
      <mat-error *ngIf="homeCardForm.get('title').hasError('required')">
        Il campo è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field-wide">
      <mat-label>Descrizione</mat-label>
      <textarea matInput rows="12" formControlName="description" type="text" placeholder="Es. Lorem ipsum..."></textarea>
      <mat-error *ngIf="homeCardForm.get('description').hasError('required')">
        Il campo è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <div class="input-field-wide">
      <app-image-upload formControlName="image"></app-image-upload>
    </div>

    <div class="submit-container">
      <app-http-status-indicator class="submit-checker" [status]="status"></app-http-status-indicator>
      <button mat-raised-button class="submit-button" type="submit" color="primary">Salva dati</button>
    </div>
  </form>
</div>

<app-nested-appbar backRoute="/admin/home-customize" backPageName="Personalizza home"
                   [title]="'Modifica home card'"
                   [actions]="actions">
</app-nested-appbar>

