:root {
  --primary: #FD7926;
  --secondary: #FAEFEF;
  --primaryControl: #000000;
  --secondaryControl: #727F93;
  --background: #FFFFFF;
  --ok: #14AF14;
  --warning: #F5BA1B;
  --error: #EB3720;
}

