/**
 * Defines the fonts used across the app, according to the mockup
 */

// The base font is Montserrat from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

// The font used as default text style.
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: var(--secondaryControl);
}

// Font used for generic titles.
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--primaryControl);
}

// Font used for an important body text, such as a card title.
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--primaryControl);
}

// media query to adapt the font to the screen size.
$bigScreenWidth: 768px;
@media only screen and (min-width: $bigScreenWidth) {

  body {
    font-size: 20px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }
}
