/**
 * The file contains some style for page structure, or used in different components.
 */

html, body {
  height: 100%;
  margin: 0;
}

.page {
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: var(--pageWidth);
  padding-top: var(--appBarHeight);
}


.hided {
  visibility: hidden;
  display: none;
}
