/**
 * The file memorizes some values used as sizes, varying according to the screen size
 * using a media query.
 */

$bigScreenWidth: 600px;
:root {
  // mobile vars
  --bigScreenWidth: $bigScreenWidth;
  --defaultMargin: 16px;
  --appBarHeight: 56px;
  --pageWidth: 100%;
  --footerHeight: 100px;
}

@media screen and (min-width: $bigScreenWidth) {
  // desktop vars
  :root {
    --defaultMargin: 24px;
    --appBarHeight: 64px;
    --pageWidth: 600px;
  }
}
