<mat-toolbar class="appbar">
  <div class="logo">
    <a routerLink="/" class="logo">
      <img src="assets/logo.png" alt="BagniX Logo"/>
      <h1 class="title">Bagni X</h1>
    </a>
  </div>

  <!-- Navigation for the desktop version -->
  <div class="extended-navigation">
    <nav>
      <ul>
        <li *ngFor="let page of pages">
          <a href="#" mat-icon-button class="menu-page"
             routerLinkActive="active"
             routerLink="{{page.route}}" title="{{ page.name | titlecase }}">

            <mat-icon *ngIf="page.isMdi; else normalIcon" class="menu-icon" svgIcon="{{page.icon}}"></mat-icon>

            <ng-template #normalIcon>
              <mat-icon class="menu-icon">{{page.isMdi}}</mat-icon>
            </ng-template>
          </a>
        </li>
        <li *ngIf="!customer">
          <a href="#" class="user-page" mat-ripple routerLinkActive="active" routerLink="/login" title="Login">
            <mat-icon svgIcon="account-arrow-left-outline" class="icon"></mat-icon>
            <span class="title">Login</span>
          </a>
        </li>
        <li *ngIf="!customer">
          <a href="#" class="user-page" mat-ripple routerLinkActive="active" routerLink="/register" title="Registrati">
            <mat-icon svgIcon="account-plus-outline" class="icon"></mat-icon>
            <span class="title">Registrati</span>
          </a>
        </li>
        <li *ngIf="customer">
          <a href="#" class="user-page" mat-ripple routerLinkActive="active" routerLink="/profile" title="Profilo">
            <mat-icon svgIcon="account-circle-outline" class="icon"></mat-icon>
            <span class="title">{{customer.name}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="collapsable-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" color="primary"
            aria-label="Button used to access the website menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <div *ngFor="let page of pages">
        <button mat-menu-item routerLink="{{page.route}}" >
          <mat-icon *ngIf="page.isMdi; else normalIcon" class="menu-icon" svgIcon="{{page.icon}}"></mat-icon>

          <ng-template #normalIcon>
            <mat-icon class="menu-icon">{{page.isMdi}}</mat-icon>
          </ng-template>

          <span>{{page.name | titlecase}}</span>
        </button>
      </div>
      <div *ngIf="!customer">
        <button mat-menu-item routerLink="/login">
          <mat-icon svgIcon="account-arrow-left-outline" class="menu-icon"></mat-icon>
          <span>Login</span>
        </button>
      </div>
      <div *ngIf="!customer">
        <button mat-menu-item routerLink="/register">
          <mat-icon svgIcon="account-plus-outline" class="menu-icon"></mat-icon>
          <span>Registrati</span>
        </button>
      </div>
      <div *ngIf="customer">
        <button mat-menu-item routerLink="/profile">
          <mat-icon svgIcon="account-circle-outline" class="menu-icon"></mat-icon>
          <span>{{customer.name}}</span>
        </button>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
