<mat-toolbar class="appbar">
  <div class="logo">
    <a routerLink="/" class="logo" *ngIf="bathhouse">
      <img [src]="bathhouse.logoUrl" alt="Logo"/>
      <h1 class="title">{{bathhouse.name}}</h1><h1 *ngIf="isAdmin" class="subtitle">Admin panel</h1>
    </a>
  </div>

  <!-- Navigation for the desktop version -->
  <div class="extended-navigation">
    <nav>
      <ul>
        <li *ngFor="let page of pages">
          <a href="#" mat-icon-button class="menu-page" routerLinkActive="active"
             [routerLink]="page.route" [matTooltip]="page.name | titlecase">

            <mat-icon *ngIf="page.isMdi; else normalIcon"
                      class="menu-icon" [svgIcon]="page.icon">
            </mat-icon>

            <ng-template #normalIcon>
              <mat-icon class="menu-icon">{{page.icon}}</mat-icon>
            </ng-template>
          </a>
        </li>

        <li *ngIf="!username">
          <a href="#" class="user-page" mat-ripple routerLinkActive="active" routerLink="/login" matTooltip="Login">
            <mat-icon svgIcon="account-arrow-left-outline" class="icon"></mat-icon>
            <span class="title">Login</span>
          </a>
        </li>
        <li *ngIf="!username">
          <a href="#" class="user-page" mat-ripple routerLinkActive="active" routerLink="/register" matTooltip="Registrati">
            <mat-icon svgIcon="account-plus-outline" class="icon"></mat-icon>
            <span class="title">Registrati</span>
          </a>
        </li>
        <li *ngIf="username">
          <a href="#" class="user-page" mat-ripple routerLinkActive="active"  [routerLink]="isAdmin ? '/admin/profile':'/profile'" matTooltip="Il tuo profilo">
            <mat-icon svgIcon="account-circle-outline" class="icon"></mat-icon>
            <span class="title">{{username}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="collapsable-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" color="primary"
            aria-label="Button used to access the website menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <div *ngFor="let page of pages">
        <button mat-menu-item routerLink="{{page.route}}" >
          <mat-icon *ngIf="page.isMdi; else normalIcon" class="menu-icon" svgIcon="{{page.icon}}"></mat-icon>

          <ng-template #normalIcon>
            <mat-icon class="menu-icon">{{page.icon}}</mat-icon>
          </ng-template>

          <span>{{page.name | titlecase}}</span>
        </button>
      </div>
      <div *ngIf="!username">
        <button mat-menu-item routerLink="/login">
          <mat-icon svgIcon="account-arrow-left-outline" class="menu-icon"></mat-icon>
          <span>Login</span>
        </button>
      </div>
      <div *ngIf="!username">
        <button mat-menu-item routerLink="/register">
          <mat-icon svgIcon="account-plus-outline" class="menu-icon"></mat-icon>
          <span>Registrati</span>
        </button>
      </div>
      <div *ngIf="username">
        <button mat-menu-item [routerLink]="isAdmin ? '/admin/profile':'/profile'">
          <mat-icon svgIcon="account-circle-outline" class="menu-icon"></mat-icon>
          <span>{{username}}</span>
        </button>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
