<div class="page">
  <div *ngIf="booking; else loadingScreen">
    <h1>Cliente</h1>
    <div class="content-container" *ngIf="customer">
      <app-user-info [customer]="customer"></app-user-info>
    </div>

    <h1>Stato</h1>
    <div class="content-container">
      <app-booking-state-extended [bookingState]="booking.getState()"></app-booking-state-extended>
    </div>

    <div class="content-container">
      <app-booking-summary [booking]="booking"></app-booking-summary>
    </div>

    <h1>ID prenotazione</h1>
    <p>{{ booking.id }}</p>
  </div>

  <ng-template #loadingScreen>
    <!-- Content to render when data is loading -->
    <app-loading-screen></app-loading-screen>
  </ng-template>
</div>

<!-- Header and fab go last, to make them appear over content -->
<app-nested-appbar [title]="getAppbarTitle()" backRoute="/admin/bookings"
                   backPageName="Prenotazioni" [actions]="actions">
</app-nested-appbar>
