@import "~src/styles/utils/utils";
mat-toolbar {
  background: $backgroundColor;
  box-shadow: $defaultShadow;
  position: fixed;
  display: flex;
  align-items: center;
  padding:0 8px 0 16px;
  flex-direction: row;
  box-sizing: border-box;
  top: 0;
  width: 100%;

  a {
    color: $secondaryControlColor;
    text-decoration: none;
  }

  .logo {
    height: 24px;
    display: flex;
    align-items: center;

    // setting text decoration to none in l.15, makes h1 lost the font formatting.
    // This re-enables the custom font
    h1.title {
      @include titleFont;
      color: $primaryColor;
    }

    img {
      height: 100%;
      margin-right: 8px;
    }
  }

  .active {
    color: $primaryColor;
    background: $secondaryColor;
  }

  .extended-navigation {
    margin-left: auto; // keeps element aligned to the right

    // hide extended navigation when in smartphone view
    @include forSmartphoneOnly {
      @include hide;
    }

    nav {
      ul {
        display: flex; // used for horizontal alignment
        flex-direction: row;

        li a {
          margin-left: 8px;
          border-radius: 24px;
          transition: 0.2s;

          &:hover {
            background: $secondaryColor;
          }

          .menu-icon {
            vertical-align: baseline;
          }
        }
      }
    }
  }

  .collapsable-menu {
    margin-left: auto; // keeps element aligned to the right

    // hide collapsable navigation when in desktop view
    @include forDesktopOnly {
      @include hide;
    }
  }
}
