<mat-toolbar>
  <div class="logo">
    <a routerLink="/" class="logo">
      <img src="../../../../assets/logo.png" alt="BagniX Logo"/>
      <h1 class="title">Bagni X</h1>
    </a>
  </div>

  <!-- Navigation for the desktop version -->
  <div class="extended-navigation">
    <nav>
      <ul>
        <li><a href="#" mat-icon-button routerLink="/" title="Home"
               [ngClass]="selectedPage == 'home' ? 'selected-icon': ''">
          <mat-icon class="menu-icon"  svgIcon="home-outline"></mat-icon>
        </a></li>
        <li><a href="#" mat-icon-button routerLink="/feed" title="Feed"
               [ngClass]="selectedPage == 'feed' ? 'selected-icon': ''">
          <mat-icon class="menu-icon"  svgIcon="newspaper-variant-outline"></mat-icon>
        </a></li>
        <li><a href="#" mat-icon-button routerLink="/bookings" title="Prenotazioni"
               [ngClass]="selectedPage == 'bookings' ? 'selected-icon': ''">
          <mat-icon class="menu-icon"  svgIcon="calendar-check-outline"></mat-icon>
        </a></li>
        <li><a href="#" mat-icon-button routerLink="/profile" title="Profilo"
               [ngClass]="selectedPage == 'profile' ? 'selected-icon': ''">
          <mat-icon class="menu-icon" svgIcon="account-circle-outline"></mat-icon>
        </a></li>
      </ul>
    </nav>
  </div>

  <div class="collapsable-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" color="primary"
            aria-label="Button used to access the website menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">
        <mat-icon svgIcon="home-outline"></mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="/feed">
        <mat-icon svgIcon="newspaper-variant-outline"></mat-icon>
        <span>Feed</span>
      </button>
      <button mat-menu-item routerLink="/bookings">
        <mat-icon svgIcon="calendar-check-outline"></mat-icon>
        <span>Prenotazioni</span>
      </button>
      <button mat-menu-item routerLink="/profile">
        <mat-icon svgIcon="account-circle-outline"></mat-icon>
        <span>Profilo</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
