<div class="page">
  <form [formGroup]="serviceForm" class="service-form" (ngSubmit)="submit()" #formRef="ngForm">
    <mat-form-field appearance="outline" class="input-field-wide" >
      <mat-label>Nome</mat-label>
      <input matInput  formControlName="name" type="text" placeholder="Es. Cabina">
      <mat-error *ngIf="serviceForm.get('name').hasError('required')">
        Il campo è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field-wide">
      <mat-label>Descrizione</mat-label>
      <textarea matInput rows="8" formControlName="description" type="text" placeholder="Es. Lorem ipsum..."></textarea>
      <mat-error *ngIf="serviceForm.get('description').hasError('required')">
        Il campo è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field-wide">
      <mat-label>Prezzo giornaliero</mat-label>
      <input matInput  formControlName="dailyPrice" type="number" placeholder="Es. Cabina">
      <span matSuffix>&nbsp;€/gg</span>
      <mat-error *ngIf="serviceForm.get('dailyPrice').hasError('required')">
        Il campo è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <div class="input-field-wide">
      <app-image-upload formControlName="image"></app-image-upload>
    </div>

    <div class="submit-container">
      <app-http-status-indicator class="submit-checker" [loading]="loading" [error]="error"></app-http-status-indicator>
      <button mat-raised-button class="submit-button" type="submit" color="primary">Salva dati</button>
    </div>
  </form>
</div>

<app-nested-appbar backRoute="/admin/services" backPageName="Servizi"
                   [title]="isNew ? 'Aggiungi servizio' : 'Modifica servizio'"
                   [actions]="activeActions">
</app-nested-appbar>
