<div class="page">
  <div *ngIf="news; else loadingScreen">
    <div class="image">
      <app-img-landscape [src]="news.image"></app-img-landscape>
    </div>
    <h1 class="title">{{news.title}}</h1>
    <p class="date">{{news.date | newsDateExtended}}</p>
    <div class="divider"></div>
    <p class="article">{{news.description}}</p>
  </div>

  <ng-template #loadingScreen>
    <!-- Content to render when data is loading -->
    <app-loading-screen></app-loading-screen>
  </ng-template>
</div>

<!-- Header and fab go last, to make them appear over content -->
<app-nested-appbar title="{{news.title}}" back-route="/feed" back-page-name="Feed" [actions]="[shareAction]"></app-nested-appbar>
