<div class="page">
  <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>

    <mat-step [stepControl]="periodStep.formGroup">
        <ng-template matStepLabel><span class="step-label">Periodo</span></ng-template>
        <app-nb-period [(booking)]="booking" #periodStep></app-nb-period>
    </mat-step>

    <mat-step [stepControl]="customizeStep.formGroup">
      <ng-template matStepLabel><span class="step-label">Periodo</span></ng-template>
      <app-nb-customize [(booking)]="booking" #customizeStep></app-nb-customize>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel><span class="step-label">Chekout</span></ng-template>
      <app-nb-checkout [booking]="booking"></app-nb-checkout>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<app-nested-appbar title="Prenota" back-route="{{ backRoute }}" back-page-name="{{ backPageName }}"></app-nested-appbar>
