@import "~src/styles/utils";

p {
  @include responsiveProp(margin-bottom, $defaultMargin);
}


@mixin bookings-container {
  box-sizing: border-box;

  p {
    margin: 0;
  }
}


.bookings-container {
  @include bookings-container;
  @include responsiveProp(margin-bottom, $defaultMargin);
}

.last-bookings-container {
  @include bookings-container;
  margin-bottom: 0;
}
