<div class="page">
  <p *ngIf="returnUrlExternallySet">
    Per utilizzare il pannello amministratore, devi effettuare l'accesso.
  </p>
  <p *ngIf="!returnUrlExternallySet">
    Benvenuto nel pannello di accesso amministratore. Accedi per gestire le prenotaizioni dei tuoi clienti!
  </p>

  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="input-field-wide">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text" placeholder="Es. mario.rossi">
      <mat-error *ngIf="loginForm.get('username').hasError('required')">
        Il campo è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field-wide">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="hidePw ? 'password' : 'text'"
             placeholder="Es. mySuperPassword!">
      <mat-icon matSuffix (click)="hidePw = !hidePw">{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Il campo è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <div class="submit-container">
      <app-http-status-indicator class="submit-checker" [status]="status"></app-http-status-indicator>
      <button mat-raised-button class="submit-button" type="submit" color="primary">Login</button>
    </div>
  </form>
</div>

<!-- Header goes last, to make them appear over content -->
<app-nested-appbar title="Accedi al pannello amministratore" backPageName="Home" backRoute="/home"></app-nested-appbar>


