<div class="page">
  <div *ngIf="news; else loadingScreen">
    <div class="image">
      <app-img-landscape [src]="news.imageUrl"></app-img-landscape>
    </div>
    <h1 class="title">{{news.title}}</h1>
    <p class="date">{{news.date | newsDateExtended | titlecase}}</p>
    <div class="divider"></div>
    <p class="article">{{news.article}}</p>
  </div>

  <ng-template #loadingScreen>
    <!-- Content to render when data is loading -->
    <app-loading-screen [smallHeight]="true"></app-loading-screen>
  </ng-template>
</div>

<!-- Header and fab go last, to make them appear over content -->
<app-nested-appbar [title]="appbarTitle" backRoute="/news" backPageName="News" [actions]="activeActions"></app-nested-appbar>
