<div class="page">
  <div *ngIf="downloadedNews; else loadingScreen">
    <div class="image">
      <app-img-landscape [src]="downloadedNews.imageUrl"></app-img-landscape>
    </div>
    <h1 class="title">{{downloadedNews.title}}</h1>
    <p class="date">{{downloadedNews.date | newsDateExtended | titlecase}}</p>
    <div class="divider"></div>
    <p class="article">{{downloadedNews.article}}</p>
  </div>

  <ng-template #loadingScreen>
    <!-- Content to render when data is loading -->
    <app-loading-screen [smallHeight]="true"></app-loading-screen>
  </ng-template>
</div>

<!-- Header and fab go last, to make them appear over content -->
<app-nested-appbar [title]="getTitleIfAvailable()" backRoute="/news" backPageName="News" [actions]="[shareAction]"></app-nested-appbar>
