<p>Controlla che tutti i dati siano giusti. Una volta terminato, dovrai attendere la conferma da parte del gestore.</p>
<div class="summary">
  <app-booking-summary [booking]="booking"></app-booking-summary>
</div>

<div class="warning-container" *ngIf="error">
  <mat-icon svgIcon="alert-circle-outline" class="warning-icon" color="warn"></mat-icon>
  <span>{{error}}</span>
</div>

<div class="warning-container" *ngIf="loading">
  <mat-spinner class="warning-icon" color="primary" [diameter]="24"></mat-spinner>
  <span>Prenotazione in corso...</span>
</div>

<div class="buttons-container">
  <button mat-raised-button color="primary" class="next-button" (click)="generateBooking()">Prenota!</button>
</div>
