@import "../../../../../styles/utils/utils";
.appbar {
  background: $backgroundColor;
  box-shadow: $defaultShadow;
  position: fixed;
  display: flex;
  align-items: center;
  @include responsiveProp(padding-right, $halfMargin);
  @include responsiveProp(padding-left, $halfMargin);

  flex-direction: row;
  box-sizing: border-box;
  top: 0;
  width: 100%;

  a {
    text-decoration: none;
  }

  .mat-icon {
    vertical-align: baseline;
  }

  .back-action {
    flex-shrink: 0;
    @include responsiveProp(margin-right, $halfMargin);

  }

  h1.title {
    @include titleFont;
    color: $primaryColor;
    flex-grow: 1;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .action {
    color: $primaryColor;
    flex-shrink: 0;
    @include responsiveProp(margin-left, $halfMargin);
  }
}
