/**
 * This file contains the main color palette of the app.
 */
$primaryColor: #FD7926;
$secondaryColor: #faefef;
$tertiaryColor: #f1f4f6;
$primaryControlColor: #000000;
$secondaryControlColor: #727F93;
$backgroundColor: #FFFFFF;
$okColor: #14AF14;
$warningColor: #F5BA1B;
$errorColor: #f44336;

