<div class="page">
  <div *ngIf="booking; else loadingScreen">
    <div class="section">
      <h1>Stato</h1>
      <app-booking-state-extended [bookingState]="booking.getState()"></app-booking-state-extended>
    </div>

    <div class="section">
      <app-booking-summary [booking]="booking"></app-booking-summary>
    </div>

    <div class="last-section">
      <h1>ID prenotazione</h1>
      <p>{{ booking.id }}</p>
    </div>
  </div>

  <ng-template #loadingScreen>
    <app-loading-screen></app-loading-screen>
  </ng-template>
</div>

<!-- Header and fab go last, to make them appear over content -->
<app-nested-appbar [title]="appbarTitle" [actions]="activeActions"
                   backRoute="/bookings" backPageName="Prenotazioni">
</app-nested-appbar>
