<div class="page">
  <p *ngIf="returnUrlExternallySet">
    Per utilizzare questa funzione, devi effettuare l'accesso al sito.
  </p>
  <p *ngIf="!returnUrlExternallySet">
    Accedi al sito per usufruire del servizio di prenotazione del nostro stabilimento!
  </p>

  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="input-field-wide">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="emailControl" type="email" placeholder="Es. mario.rossi@example.com">
        <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
          Inserisci un indirizzo email valido
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('required')">
          Il campo è <strong>obbligatorio</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field-wide">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="passwordControl" [type]="hidePw ? 'password' : 'text'"
               placeholder="Es. mySuperPassword!">
        <mat-icon matSuffix (click)="hidePw = !hidePw">{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="passwordControl.hasError('required')">
          Il campo è <strong>obbligatorio</strong>
        </mat-error>
      </mat-form-field>

    <div class="submit-container">
      <app-http-status-indicator class="submit-checker" [loading]="loading" [error]="error"></app-http-status-indicator>
      <button mat-raised-button class="submit-button" type="submit" color="primary">Login</button>
    </div>
  </form>
</div>

<!-- Header goes last, to make them appear over content -->
<app-customer-main-appbar></app-customer-main-appbar>


