<div class="salable-card" mat-ripple [matRippleDisabled]="notClickable"
     [ngClass]="{'clickable': !notClickable, 'last-card':isLastCard }">

  <div class="main-line">
    <div class="image"
      [ngStyle]="{'background-image': 'url(' + imageUrl }">
    </div>

    <div class="lines">
      <h2 class="title">{{ title }}</h2>
      <p class="description">{{ description }}</p>
    </div>
  </div>

  <div class="chips-line">
    <div class="price-chip"> {{ price }} </div>
    <div class="more-info-chip" *ngIf="!!moreInfo" > {{ moreInfo }} </div>
    <mat-icon svgIcon="sale" class="sale" color="primary" *ngIf="onSale"></mat-icon>
  </div>
</div>
