.page {
  // the home page is the only one with 100% with;
  // useful to show the main card wide as the mockup
  width: 100%;
}

.main-card-container {
  width: 100%;
  height: 256px;
  position: relative;

  @mixin superimposable {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }

  .image-container {
    @include superimposable;
    filter: blur(4px);
    background-image: url(/assets/main-card.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: -20px 0; // keeps the blurred image inside the border
    background-position: center center;
  }

  .white-filter-container {
    @include superimposable;
    background: var(--background);
    opacity: 0.8;
  }

  .title-container {
    @include superimposable;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
    padding: 0 var(--defaultMargin);

    h1 {
      color: var(--primary);
    }

    mat-icon {
      width: auto;
      color: var(--primary);
      font-size: 80px;
      height: 80px;
    }

    // for smartphone screens, the icon is not visible
    @media screen and (max-width: 600px) {
      .mat-icon {
        display: none;
        visibility: hidden;
      }
    }
  }
}

// for desktop screens, the main card takes the page height size
@media screen and (min-width: 600px) {
 .main-card-container {
   height: 100vh - 20vh;
 }
}

@mixin card-wide-container {
  width: 100%;
  padding: var(--defaultMargin);

  .home-card {
    width: var(--pageWidth);
    // ecc., anche caratteristiche sotto-classi
  }
}

.even-card-wide-container {
  @include card-wide-container;
  background: var(--background);
}

.odd-card-wide-container {
  @include card-wide-container;
  background: var(--secondary);
}
