<div class="page">
  <p>
    Immetti la tua vecchia password, quindi digita due volte la nuova password.
  </p>
  <form [formGroup]="pwForm" class="pw-form" (ngSubmit)="modifyPassword()" #formRef="ngForm">

    <mat-form-field appearance="outline" class="input-field-wide">
      <mat-label>Vecchia password</mat-label>
      <input matInput formControlName="oldPassword" [type]="hidePw ? 'password' : 'text'"
             placeholder="Es. myOldPassword!">
      <mat-icon matSuffix (click)="hidePw = !hidePw">{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>

      <mat-error *ngIf="pwForm.get('oldPassword').hasError('required')">
        Il campo è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field-half">
      <mat-label>Nuova password</mat-label>
      <input matInput formControlName="newPassword" [type]="hidePwNew ? 'password' : 'text'"
             placeholder="Es. myNewPassword!">
      <mat-icon matSuffix (click)="hidePwNew = !hidePwNew">{{hidePwNew ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="pwForm.get('newPassword').hasError('minlength') && !pwForm.get('newPassword').hasError('required')">
        Troppo breve!
      </mat-error>
      <mat-error
        *ngIf="pwForm.get('newPassword').hasError('pattern') && !pwForm.get('newPassword').hasError('required') && !pwForm.get('newPassword').hasError('minlength')">
        Password non valida
      </mat-error>
      <mat-error *ngIf="pwForm.get('newPassword').hasError('required')">
        Il campo è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field-half">
      <mat-label>Conferma nuova password</mat-label>
      <input matInput formControlName="confirmPassword" [type]="hideConfirm ? 'password' : 'text'"
             placeholder="Es. myNewPassword!">
      <mat-icon matSuffix
                (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error
        *ngIf="pwForm.get('confirmPassword').hasError('NoPassswordMatch') && !pwForm.get('confirmPassword').hasError('required')">
        Password e conferma non corrispondono
      </mat-error>
      <mat-error *ngIf="pwForm.get('confirmPassword').hasError('required')">
        Il campo è <strong>obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <div class="submit-container">
      <app-http-status-indicator class="submit-checker" [status]="status"></app-http-status-indicator>
      <button mat-raised-button class="submit-button" type="submit" color="primary">Salva nuova password</button>
    </div>
  </form>
</div>


<!-- Header and fab go last, to make them appear over content -->
<app-nested-appbar title="Cambia password" [actions]="actions"
                   backRoute="/profile" backPageName="Profilo">
</app-nested-appbar>

