/**
 * This file creates some common utilities for the font use
 */

// The base font is Montserrat from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');
@import "sizes";
@import "colors";

@mixin titleFont {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: $primaryControlColor;

  @include forDesktopOnly {
    font-size: 22px;
  }
}

@mixin subheadFont {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: $primaryControlColor;

  @include forDesktopOnly {
    font-size: 20px;
  }
}

@mixin bodyFont {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: $secondaryControlColor;

  @include forDesktopOnly {
    font-size: 20px;
  }
}
