/**
 * The file memorizes some values used as sizes, varying according to the screen size
 * using a media query.
 */

$desktopWidth: 600px;
$marginSmartphone: 16px;
$marginDesktop: 24px;
$appBarHeightSmartphone: 56px;
$appBarHeightDesktop: 64px;
$footerHeight: 100px;
$pageWidthSmartphone: 100%;
$pageWidthDesktop: $desktopWidth - $marginDesktop;

// this mixin encapsulates and simplifies media queries for big screens.
// From https://css-tricks.com/approaches-media-queries-sass/#landon-schropps-technique
@mixin forDesktopOnly {
  @media (min-width: #{$desktopWidth}) {
    @content;
  }
}

// this mixin encapsulates and simplifies media queries for big screens.
// From https://css-tricks.com/approaches-media-queries-sass/#landon-schropps-technique
@mixin forSmartphoneOnly {
  @media (max-width: #{$desktopWidth}) {
    @content;
  }
}
